@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes anim {
    0%   {background-color: #829610;}
    25%  {background-color: #369610;}
    50%  {background-color: #4866A5;}
    75% {background-color: #5523D0;}
    100% {background-color: #D91B34;}
  }

.rainbow {
    animation-name: anim;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }

